.mario_big, .mario_small{
    position:absolute;
    left:200px;
    top:200px;
}
.mario_big{
    width:25px;
}
.mario_small{

}
#stage{
    position:relative;
    height:300px;
    width:400px;
    border:0px solid black;
    background: url('../images/clouds.gif');
    overflow:hidden;
}
#stage, .info{
    float:left;	
}
.fb_holder{
    clear:left;	
    width:450px;
    padding-top:10px;
}
.info{
    margin:5px !IMPORTANT;	
}
#stats_pane{
    position:fixed;
    left:20px;
    top:70px;
    padding:5px;
    font-size:16pt;
    background-color:#FFF;
}
.description{
    font-family:Arial;
    font-size:9pt;
}
.points{
    color:white;
    font-size:12pt;
    font-weight:bold;
    position:absolute;
}
#debug{
    border:1px dashed blue;	
    position:relative;
    width:300px;
    display:none;
}
