.mario_big, .mario_small{
    position:absolute;
    left:200px;
    top:200px;
}
.mario_big{
    width:25px;
}
.mario_small{

}
#stage{
    display: none;
    position:relative;
    height:310px;
    width:3500px;
    border:0px solid black;
    background-image: url('../images/sky_background.jpg');
    background-position: 0px 43px;
    background-repeat:repeat-x;
    background-color: #3399FF;
    overflow:hidden;
}
#stage, .info{
    float:left;	
}
.fb_holder{
    clear:left;	
    width:450px;
    padding-top:10px;
}
.info{
    margin:5px !IMPORTANT;	
}
#stats_pane{
    position:fixed;
    left:20px;
    top:70px;
    padding:5px;
    font-size:16pt;
    background-color:#FFF;
}
.description{
    font-family:Arial;
    font-size:9pt;
}
.points{
    color:white;
    font-size:12pt;
    font-weight:bold;
    position:absolute;
}
#debug{
    border:1px dashed blue;	
    position:relative;
    width:300px;
    display:none;
}


/* coins and other status bars */

#coins-count {
    display: inline-block;
    position: absolute;
    z-index: 100;
    top:5%;
    left: 3%;
    font-size: 1em;
    color: white;
    font-family: "Calibri", Calibri;
}
#coins-count > img {
    margin-right: 10px;
    width: 12px;
}
#coin_counter {
    display: inline-block;
    margin-left: 10px;
}
#mario_points {
    color: white;
    font-size: 1em;
    font-family: "Calibri", Calibri;
    left: 1%;
    top: 5%;
    position: absolute;
}
#points {
    text-align: center;
    font-size: 0.8em;
}
#world_counter {
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: "Calibri", Calibri;
    position: absolute;
    top: 5%;
    left: 5.2%;
}
#timer {
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: "Calibri", Calibri;
    position: absolute;
    top: 5%;
    left: 8%;   
}
#timer_seconds { 
    text-align: center;
    font-size: 0.8em;
}
#mario_game_image {
    z-index: 10000000000000!important;
}
#mario_game_image_second {
    display: none;
}